<nav class="col-12 clearfix">
    <ul class="navbar-nav mr-auto clearfix">
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Distribuidores Autorizados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Talleres y Diplomados</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Contáctanos</a>
        </li>
    </ul>

    <div class="offset-1 col-10 form-group row clearfix">
        <form class="col-12 navbar-form search" role="search">
            <div class="input-group add-on">
                <input class="form-control" placeholder="Suscríbete a nuestra newsletter" name="srch-term" id="srch-term" type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default btn-srch" type="submit"><i class="fa fa-angle-right fa-5" aria-hidden="true"></i></button>
                </div>
            </div>
        </form>
    </div>

    <nav class="col-12 iconnav clearfix">
        <ul class="iconnav__ul clearfix">

            {% include svg-icons.html %}

        </ul>
    </nav>
    <div class="copyright-2017-asp clearfix">Copyright © 2017 ASPIDPRO S.A. de C.V. Todos los derechos reservados.</div>

</nav>