<nav class="navbar navbar-toggleable-sm bg-faded navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="menu" style="display: none;"> Menu</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <a href="{{ site.baseurl }}/" class="logo noline navbar-brand">
        <div class="aspidpro-logo-alt">
            <div class="aspidpro-logo-mark">
            </div>
            <div class="apsidpro-logo-text">
                ASPID<span class="accent-semibold">PRO</span>
            </div>
        </div>
    </a>
    <div class="navbar-collapse collapse" id="navbar4">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/">Productos y Líneas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/archive">Tips y Consejos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">¿Quiénes Somos?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Distribuidores Autorizados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl | replace: '//', '/' }}/typography">Talleres y Diplomados</a>
            </li>
        </ul>
        <nav class="iconnav">
            <ul>
                {% if site.twitter %}
                <li class="social">
                    <a href="{{ site.twitter }}" class="twitter"><i class="fa fa-twitter"></i></a>
                </li>
                {% endif %} {% if site.facebook %}
                <li class="social">
                    <a href="{{ site.facebook }}" class="facebook"><i class="fa fa-facebook"></i></a>
                </li>
                {% endif %} {% if site.youtube %}
                <li class="social">
                    <a href="{{ site.youtube }}" class="youtube"><i class="fa fa-youtube"></i></a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</nav>
