/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.iconnav {
  margin: 0 auto;
}


/* Header */
.header {
  min-height: 66px;
  height: auto;
  width: 100%;
  background-color: $baseBackground;
  box-shadow: inset 0 -1px 0 0 $baseShadow;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar {
    width: 100%;
    min-height: 66px;
    margin: 0;

    .menu {
      width: 158px;
    }
  }

  .navbar-collapse {
    background: linear-gradient(180deg, #5086B9 0%, #416D96 100%);

    .navbar-nav {
      width: 87.5%;
      padding-top: 2px;
      margin: 0 auto;
    }
  }

  .aspidpro-logo-alt {
    height: 36px;
    width: 166px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .8em;

    .aspidpro-logo-mark {
      height: 36px;
      width: 36px;
      display: flex;
      background-image: url("./images/logo.svg");
      background-size: cover;
      background-position-x: right;
      background-position-y: bottom;
    }

    .apsidpro-logo-text {
      height: 34.79px;
      width: 127.19px;
      font-family: $openSans;
      font-size: 1.5em;
      color: $gray;
      display: flex;
      font-weight: 100;

      .accent-semibold {
        font-weight: 500;
      }
    }
  }
  nav.navbar.navbar-light .navbar-toggler {
  }

  .icon-menu {
    height: 18px;
    width: 20px;
    opacity: 0.8;
    background: none;
    display: flex;

    .shape {
      height: 3px;
      width: 20px;
      margin: 2.5px 0;
      background: $gray;
    }
  }
}

/* Footer */
footer {
  background-color: $footerBackground;
  display: flex;
  align-self: flex-end;


  nav {
    ul.navbar-nav {
      font-family: $openSans;
      font-weight: normal;
      padding: 0;

      li {
        height: 50px;
        padding: 15px 10px;
        font-size: 14px;
        border-bottom: 1px $navSeparator solid;
        line-height: 19px;

        a {
          color: $footerText;

          &:hover {
            color: lighten($footerText, 20%);
          }
          &:active {
            color: darken($footerText, 20%);
          }
        }
      }
    }

    .search {
      padding-top: 46px;
      height: 38px;

      input {
        font-family: $openSans;
        font-size: 12px;
        line-height: 17px;
        color: $footerBackground;

        box-sizing: border-box;
      }
      .btn-srch {
        border: 1px $white solid;
        border-radius: 0;
        font-size: 2rem;
        background-color: $footerBackground;
        padding: 0 .8rem;
        box-sizing: border-box;

        .fa {
          padding: 0;
          color: $white;
        }
        .fa-angle-right {
          padding: 0;
        }
      }
    }

    .iconnav {
      padding-top: 30px;
      ul {
        li.soc-item {
          height: 28px;
          width: 28px;
          margin: 0 15px;
          list-style: none;
          display: inline-flex;

          a {
            color: $footerText;

            &:hover {
              color: lighten($footerText, 20%);
            }
            &:active {
              color: darken($footerText, 20%);
            }
            i.fa {
              font-size: 20px;
              height: 20px;
              width: 20px;
            }
          }
        }
      }
    }
  }
  .copyright-2017-asp {
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 20px;
    height: 11px;
    width: 269px;
    color: $white;
    font-family: $openSans;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
  }
}
